* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-tat.kaz-tat.dix -text
/apertium-kaz-tat.kaz-tat.lrx -text
/apertium-kaz-tat.kaz-tat.rlx -text
/apertium-kaz-tat.kaz-tat.t1x -text
/apertium-kaz-tat.kaz-tat.t2x -text
/apertium-kaz-tat.kaz.lexc -text
/apertium-kaz-tat.kaz.twol -text
/apertium-kaz-tat.post-kaz.dix -text
/apertium-kaz-tat.post-tat.dix -text
/apertium-kaz-tat.tat-kaz.lrx -text
/apertium-kaz-tat.tat-kaz.rlx -text
/apertium-kaz-tat.tat-kaz.t1x -text
/apertium-kaz-tat.tat-kaz.t2x -text
/apertium-kaz-tat.tat.lexc -text
/apertium-kaz-tat.tat.twol -text
/apertium-view.sh -text
/autogen.sh -text
/configure.ac -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/testvoc-summary.kaz-tat.txt -text
dev/testvoc-summary.tat-kaz.txt -text
dev/testvoc.sh -text
/kaz-tat.prob -text svneol=unset#unset
/modes.xml -text
/tat-kaz.prob -text svneol=unset#unset
texts/story.kaz-tat.09052012.txt -text svneol=unset#application/octet-stream
texts/story.kaz-tat.post.txt -text svneol=unset#application/octet-stream
texts/story.kaz.txt -text svneol=unset#application/octet-stream
texts/story.tat.txt -text svneol=unset#application/octet-stream
/update-morphs.bash -text
words/adjectives-bidix.txt -text
words/nouns-bidix.txt -text
words/postpositions.txt -text svneol=unset#application/octet-stream
words/sed-one-liners.txt -text
