* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-tat.kaz-tat.dix -text
/apertium-kaz-tat.kaz-tat.lrx -text
/apertium-kaz-tat.kaz-tat.t1x -text
/apertium-kaz-tat.kaz-tat.t2x -text
/apertium-kaz-tat.post-kaz.dix -text
/apertium-kaz-tat.post-tat.dix -text
/apertium-kaz-tat.tat-kaz.lrx -text
/apertium-kaz-tat.tat-kaz.t1x -text
/apertium-kaz-tat.tat-kaz.t2x -text
/apertium-view.sh -text
/autogen.sh -text
/configure.ac -text
corpa/README -text
corpa/corpus.kaz-tat.postedit.txt -text
corpa/corpus.kaz.disambiguated.txt -text
corpa/corpus.kaz.txt -text svneol=unset#application/octet-stream
corpa/nova_traduko.txt -text
corpa/origina_traduko.txt -text
dev/bidix/bidix-with-context.sh -text
dev/bidix/sed-one-liners.txt -text
dev/bidix/untag-corpus.py -text
dev/cg-transfer.txt -text
dev/csv2dix.py -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/intersect.py -text
dev/kaz-tat.intersection.txt -text
dev/kaz-tat.t1x -text
dev/testvoc-summary.kaz-tat.txt -text
dev/testvoc-summary.tat-kaz.txt -text
dev/testvoc.sh -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc.sh -text
dev/transfer1.cg -text
dev/trimmed-coverage.sh -text
/kaz-tat.prob -text svneol=unset#unset
/modes.xml -text
paper/Makefile -text
paper/architecture.pdf -text
paper/boolean.sty -text
paper/cgloss4e.sty -text
paper/evaluation/README -text
paper/evaluation/kaz-tat.19042013.txt -text svneol=unset#application/octet-stream
paper/evaluation/kaz-tat.postedit.txt -text svneol=unset#application/octet-stream
paper/evaluation/kaz.txt -text svneol=unset#application/octet-stream
paper/expex.sty -text
paper/expex.tex -text
paper/gb4e.sty -text
paper/ifjobname.sty -text
paper/linguex.sty -text
paper/linguho.sty -text
paper/mtsxiv.bst -text
paper/mtsxiv.sty -text
paper/numbers.gnumeric -text
paper/paper-anon.pdf -text
paper/paper-anon.tex -text
paper/paper.bib -text
paper/paper.pdf -text
paper/paper.tex -text
paper/qtree.sty -text
/pending-tests.sh -text
/qa.sh -text
/regression-tests.sh -text
/tat-kaz.prob -text svneol=unset#unset
tests/kaz-tat-corpus.test -text
tests/kaz-tat-cov.test -text
texts/2story.kaz-tat.12062012.txt -text
texts/2story.kaz-tat.postedit.txt -text
texts/2story.kaz.txt -text svneol=unset#application/octet-stream
texts/3story.kaz-tat.postedit.txt -text svneol=unset#application/octet-stream
texts/3story.kaz.txt -text svneol=unset#application/octet-stream
texts/4story.kaz-tat.02_09_2012.txt -text svneol=unset#application/octet-stream
texts/4story.kaz-tat.postedit.txt -text svneol=unset#application/octet-stream
texts/4story.kaz.txt -text svneol=unset#application/octet-stream
texts/5story.kaz-tat.01_09_2012.txt -text svneol=unset#application/octet-stream
texts/5story.kaz-tat.postedit.txt -text svneol=unset#application/octet-stream
texts/5story.kaz.txt -text svneol=unset#application/octet-stream
texts/README -text
texts/corpus.kaz-tat.23_08_2012.txt -text
texts/story.kaz-tat.09052012.txt -text svneol=unset#application/octet-stream
texts/story.kaz-tat.22052012.txt -text svneol=unset#application/octet-stream
texts/story.kaz-tat.31052012.txt -text svneol=unset#application/octet-stream
texts/story.kaz-tat.postedit.txt -text svneol=unset#application/octet-stream
texts/story.kaz.txt -text svneol=unset#application/octet-stream
texts/story.tat-kaz.26052012.txt -text svneol=unset#application/octet-stream
texts/story.tat.txt -text svneol=unset#application/octet-stream
/wiki-tests.sh -text
